<div class="page-header">
  <%= link_to broadcasts_path, class: 'btn btn-default' do %>
    All Broadcasts
  <% end %>
  <%= link_to edit_broadcast_path(@broadcast), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>
    <%= @broadcast.subject %>
  </h1>
</div>

<%= render "broadcast" %>

